{% macro error_summary(form) %}
    {% if form.errors %}
        <div class="alert alert-danger mt-2 mb-4" role="alert">
            {% if form.errors | length > 1%}
                <h4>Form errors:</h4>
            {% else %}
                <h4>Form error:</h4>
            {% endif %}
            <ul style="margin-bottom: 0;">
                {% for field in form.errors %}
                    {% for error in form.errors[field] %}
                        <li>
                            <strong style="text-transform: capitalize;">{{ form[field].label }}:</strong>
                            <span>{{ error }}</span>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}
