{% macro form_field(field) %}
<div class="form-group" id="{{field.name}}">
    {% if field.flags.required %}
        <strong>{{ field.label(class='required') }}</strong>
    {% else %}
        <strong>{{ field.label }}</strong>
    {% endif %}
    {% if field.errors %}
        {{ field(class='form-control border-danger', required=False, **kwargs) | safe }}
        {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span><br>
        {% endfor %}
    {% else %}
        {{ field(class='form-control', required=False, **kwargs) |safe }}
    {% endif %}
</div>
{% endmacro %}
