{% extends "layout.html" %}

{% block content %}
  {{ jumbotron("Early Bird Booking") }}
  <div class="row">
    <div class="col" style="min-height:70vh;">
      <h1 class="mt-3 mb-5">Thank you for your booking!</h1>
      {% if ref != None %}
        <p><strong>Booking Reference: {{ ref }}</strong></p>
      {% endif %}  
      <p class="lead">
        We will email you an acknowledgement of your registration in the next 24 hours.
        If you wish to modify your registration, you may do so until the 30<sup>th</sup> April by emailing <a href="mailto:bookings@moot2021.ie" target="_blank">bookings@moot2021.ie</a>.
      </p>
      <p class="lead">
        Following confirmation of your early bird booking in early May, you may modify your participant numbers by 10% if requested priot to the 31<sup>st</sup> July 2021.
      </p>
    </div>
  </div>
{% endblock %}
