{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1>Confirmation page</h1>
      <p>
        <strong>Country: </strong>
        {{ booking.country }}
      </p>
      <p>
        <strong>Participants: </strong>
        {{ booking.participants }}
      </p>
      <p>
        <strong>Fee Category: </strong>
        {{ booking.fee_category }}
      </p>
      <p>
        <strong>Cost per participant: </strong>
        {{ booking.fee_per_participant }}
      </p>
      <p>
        <strong>Booking Value: </strong>
        {{ booking.booking_value }}
      </p>
    </div>
  </div>
{% endblock %}
