{% extends "layout.html" %}

{% block content %}
    {{ jumbotron("Early Bird Booking Changes") }}
    <div class="row">
        <div class="col" style="min-height:70vh;">
            <h1 class="mt-3 mb-5">Coming soon...</h1>
            <p class="lead">
                This page is currently under construction and will be published before the 15<sup>th</sup> May, 2021.
                In the meantime, if you wish to contact us about a booking you have already made please email us on <a href="mailto:bookings@moot2021.ie" target="_blank">bookings@moot2021.ie</a>.
            </p>
        </div>
    </div>
{% endblock %}
