{% extends "layout.html" %}

{% block content %}
    {{ jumbotron("Early Bird Booking") }}
    <div class="row">
        <div class="col" style="min-height:70vh;">
            <h1 class="mt-3 mb-5">Early bird bookings are now closed</h1>
            <p class="lead">
                Early Bird Bookings for the 16<sup>th</sup> World Scout Moot are now closed.
                If you wish to contact us about a booking you have already made please email us on <a href="mailto:bookings@moot2021.ie" target="_blank">bookings@moot2021.ie</a>.
            </p>
            <p class="lead">
                Standard bookings will open in September 2021 when all ticket categories (participant, IST & CMT) will be available.
            </p>
        </div>
    </div>
{% endblock %}
