{% extends "layout.html" %}

{% block content %}
    {{ jumbotron("Expression of Intrest") }}
    <div class="row">
        <div class="col" style="min-height:70vh;">
            <h1 class="mt-3 mb-5">Thank you for your submission!</h1>
            <p class="lead">
                We will email you an acknowledgement of your expression of intrest in the next 24 hours.
            </p>
            <p class="lead">
                If you wish to update your estimated figures, or have any other questions about preparing a contingent to the Moot, please contact us at <a href="mailto:contingentsupport@moot2021.ie" target="_blank">contingentsupport@moot2021.ie</a>
            </p>
        </div>
    </div>
{% endblock %}
