{% extends "layout.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-3">
        <img src="{{url_for('static', filename='images/MootLogo.svg')}}" style="width: 100%; margin: -2rem 0;"/>
      </div>
      <div class="col" style="margin-left: 20px">
        <h1 class="display-4">16th World Scout Moot</h1>
        <hr>
        <p class="lead">
          18 - 28th July 2022
          <br>
          Ireland
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form action="/submit" method="POST">
        {{ form.csrf_token }}
        <div class="row">
          <div class="col-md-6">
              {{ review_field(form.country) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              {{ review_field(form.participants) }}
          </div>
        </div>
        <div class="row my-5">
          <div class="col">
            <input type="submit" formaction="/edit" class="btn btn-secondary btn-lg" value="Back">
            <input type="submit" class="btn btn-primary btn-lg" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
