{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col">
      <form action="/submit" method="POST">
        {{ form.csrf_token }}
        {{ form.contact_first_name(type="hidden", required=False, style="display: none;") }}
        {{ form.contact_last_name(type="hidden", required=False, style="display: none;") }}
        {{ form.contact_position(type="hidden", required=False, style="display: none;") }}
        {{ form.contact_email(type="hidden", required=False, style="display: none;") }}
        {{ form.contact_phone(type="hidden", required=False, style="display: none;") }}
        {{ form.country(type="hidden", required=False, style="display: none;") }}
        {{ form.org_name(type="hidden", required=False, style="display: none;") }}
        {{ form.org_address(type="hidden", required=False, style="display: none;") }}
        {{ form.org_address_postcode(type="hidden", required=False, style="display: none;") }}
        {{ form.participants(type="hidden", required=False, style="display: none;") }}
        {{ form.standard_CMT(type="hidden", required=False, style="display: none;") }}
        {{ form.standard_IST(type="hidden", required=False, style="display: none;") }}
        {{ form.standard_participants(type="hidden", required=False, style="display: none;") }}
        <div class="row">
          <div class="col-md-12">
            <h2>Booking summary</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Country</th>
                  <td>{{ booking.country }}</td>
                  <td><a href="/form/edit#{{ form.country.name }}">Change</a></td>
                </tr>
                <tr>
                  <th scope="row">Organisation</th>
                  <td>{{ booking.org_name }}</td>
                  <td><a href="/form/edit#{{ form.org_name.name }}">Change</a></td>
                </tr>
                <tr>
                  <th scope="row">Address</th>
                  <td>
                    {{ booking.org_address }}<br>
                    {{ booking.org_address_postcode }}
                  </td>
                  <td><a href="/form/edit#{{ form.org_address.name }}">Change</a></td>
                </tr>
                <tr>
                  <th scope="row">Primary contact</th>
                  <td>
                    {{ booking.contact_full_name }}<br>
                    {{ booking.contact_position }}<br>
                    {{ booking.contact_email }}
                  </td>
                  <td><a href="/form/edit#{{ form.contact_first_name.name }}">Change</a></td>
                </tr>
                <tr>
                  <th scope="row">Participants</th>
                  <td>{{ booking.participants }}</td>
                  <td><a href="/form/edit#{{ form.participants.name }}">Change</a></td>
                </tr>
                <tr>
                  <td>
                    <strong>Fee category</strong><br>
                    <a href="https://www.scout.org/nsowsefees" target="_blank">WOSM fees table</a>
                  </td>
                  <td colspan="2">{{ booking.fee_category }}</td>
                </tr>
                <tr>
                  <th scope="row">Cost per participant</th>
                  <td colspan="2">€ {{ booking.fee_per_participant }}</td>
                </tr>
                <tr class="table-info">
                  <td>
                    <strong>Total value</strong><br>
                    Due by 1<sup>st</sup> September 2021
                  </td>
                  <td colspan="2">
                    <strong>
                      € {{ booking.booking_value | numberFormat  }}
                    </strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-9">
            <h2>Terms and Conditions</h2>
            <P>By making an early bird booking you are agreeing to the <a href="https://www.worldscoutmoot.ie/wp-content/uploads/2021/03/Booking-Terms-and-Conditions-2022-v.2.0.pdf" target="_blank"> full terms and conditions</a>.</P>
            <ul>
              <li>
                There is no reservation fee for early bird spaces. The entire fee is due by the <strong>1<sup>st</sup> September 2021</strong>.
              </li>
              <li>
                Your submission of this form and subsequent confirmation by the Moot Team will secure the places you require, at the early bird discounted fee rate.
              </li>
              <li>
                Some flexibility is built into the early bird process and figures will be allowed to increase or decrease by 10% without penalty up until the 31<sup>st</sup> July 2021.
                This means that by submitting the form <strong>you are commiting to pay a minimum of € {{ booking.min_value | numberFormat }}</strong> ({{ booking.min_participants }} participants) by the 1<sup>st</sup> September 2021.
              </li>
              <li>
                If a contingent only makes a partial payment for their allocation of early bird spaces by the 1st September 2021, all spaces booked will default to full-price, and the remaining balance will be due by the standard booking payment conditions and deadlines.
              </li>
              <li>
                Any additional participants, either beyond the 10% flexibility, or booked after the 31<sup>st</sup> July 2021, will follow the standard booking procedure and be subject to the standard booking process which will open in September 2021.
              </li>
              <li>
                You are giving the 16<sup>th</sup> World Scout Moot permission to hold and process your personal data provided in accordance with GDPR and <a href="https://www.scouts.ie/Scouter/Management-Resources/Policies-Procedures/All-Official-Policies/SID-76-11-Data-Protection-Policy.pdf" target="_blank">Scouting Ireland's Data Protection Policy</a>.
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-lg-9">
            <div class="row">
              <div class="col-1">
                {{ form.terms_acceptance(style="width:25px; height:25px; margin-right:30px;") }}
              </div>
              <div class="col">
                <label class="no-copy" for="{{ form.terms_acceptance.name }}">
                  I confirm that I am empowered to act on behalf of <strong>{{ booking.org_name }}</strong> and accept this booking is subject to the 16<sup>th</sup> World Scout Moot Terms and Conditions.
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-5">
          <div class="col">
            <input type="submit" class="btn btn-primary btn-lg" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
