.required:after {
    content:" *";
    color: red;
}

.iframe-container {
    padding: 3px;
}

.no-copy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
